.p-intl-tel-addon {
    padding: 0 !important;
    border-width: 0 !important;
    border-style: none;
}

.p-intl-tel-country {
    display: flex !important;
    align-items: center !important;
    gap: 0.5rem !important;
}

.p-intl-tel-option {
    width: 100% !important;
}
