<div class="p-inputgroup">
    <p-dropdown class="p-inputgroup-addon" [options]="countries" [filter]="true" [filterFields]="searchCountryField" [resetFilterOnHide]="true"
                [disabled]="phoneNumberControl.disabled" panelStyleClass="fixWidth" [class.withoutDialCode]="!separateDialCode"
                [ngModel]="selectedCountry()" (onChange)="onCountrySelect($event.value, input)">
        <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2">
                <div id="flag" [class]="selectedCountry().flagClass"></div>
                @if (separateDialCode) {
                    <span id="dialcode" class="ms-2">{{ selectedCountry().dialCode | dialCode }}</span>
                }
            </div>
        </ng-template>

        <ng-template let-country pTemplate="item" class="test">
            <div class="flex align-items-center gap-2 w-full" [class.favorite]="country.isFavorite" favorite>
                <div [class]="country.flagClass"></div>
                <span>{{ country.name }}</span>
                <span>{{ country.dialCode | dialCode }}</span>
            </div>
        </ng-template>
    </p-dropdown>

    <input pInputText #input class="form-control" type="tel" [id]="inputId" autocomplete="off" (blur)="onTouched()"
           [placeholder]="this.selectedCountry().placeHolder" [formControl]="phoneNumberControl" (keydown)="onInputKeyPress($event)"
           [attr.maxLength]="maxLength" [attr.validation]="phoneValidation">
</div>
