.p-inputgroupaddon {
    padding: 0;
    border: none;
    flex: 0 0 8rem !important;

    &.withoutDialCode {
        flex: 0 0 5rem !important;
    }

    .p-dropdown {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: 100%;
        display: flex;
        align-items: center;

        &:not(.p-disabled).p-focus {
            box-shadow: none;
            border-color: #ced4da;
        }

        .p-select-label {
            padding-right: 0;

            .ng-star-inserted:not(.flex):not(#dialcode) {
                display: none !important;
            }
        }

        p-dropdownitem:nth-last-child(1 of :has(.favorite)) {
            .p-select-option {
                margin-bottom: 0.5rem;
                border-bottom: 2px solid #ced4da;
            }
        }

        .p-select-dropdown {
            width: 1rem;
            padding-right: 1.5rem;
        }

        &:hover {
            border-color: #ced4da;
        }

        .p-select-filter {
            width: 100%;
        }

        .p-select-list {
            width: 100%;

            .p-select-option-group {
                padding: 0;

                &:not(:first-child) {
                    padding-bottom: 0.5rem;
                    margin-bottom: 0.5rem;
                    border-bottom: 1px solid #ced4da;
                }
            }
        }

        .p-select-overlay {
            width: 22rem;
        }
    }
}
